    name: Check reminders
    
    on: workflow_dispatch
    
    jobs:
      build:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout repo content
            uses: actions/checkout@v3
            with:
              path: reminder

          - name: Check out my other private repo
            uses: actions/checkout@v3
            with:
              repository: Stig-Boye-Andersen/cardpsp
              token: ${{ secrets.pat_cardpsp }}
              path: cardpsp

          - name: Setup python
            uses: actions/setup-python@v4
            with:
              python-version: '3.9'
              
          - name: Install python packages
            run: |
              python -m pip install --upgrade pip
              pip install -r reminder/py-requirements.txt
              
          - name: Execute py script
            env:
              REPOSITORIES: ${{ vars.REPOSITORIES }}
            run: python reminder/check-reminders.py